@(persons: List[Person], personForm: Form[Person])

@import helper._

@main("Person List") {
<div class="container theme-showcase" role="main">
	<div class="page-header">
        <h1>명의자관리</h1>
	</div>
	<div class="col-sm-5">
		<table class="table table-striped">
			<colgroup>
				<col width="*" />
				<col width="100" />
			</colgroup>
			<thead>
				<tr>
					<th>이름</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for(person <- persons) {
					<tr>
						<td>@person.getName</td>
						<td><input class="btn btn-xs btn-danger" type="button" value="삭제" onclick="removePerson('@person.getId')"/></td>
					</tr>
				}
			</tbody>
		</table>
	
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register_modal">등록</button>
	</div>
	<div id="register_modal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">계좌등록</h4>
				</div>
				<div class="modal-body">
					@form(action=routes.PersonApp.register(), 'method -> "post", 'id -> "register_form") {
						<div class="form-group">
							<label class="control-label">이름</label>
							<input type="text" class="form-control" name="name">
						</div>
					}
		        </div>
		        <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary" onclick="registerAccount()">등록</button>
				</div>
			</div>
		</div>
	</div>
	
	@form(action=routes.PersonApp.remove(), 'method -> "post", 'id -> "removeForm") {
		<input type="hidden" id="del_person_id" name="id"/>
	}
	
</div>	
<script type="text/javascript">
	function removePerson(id) {
		if(!confirm('명의자를 삭제할까요?')) {
			return;
		}
		$('#del_person_id').val(id);
		$('#removeForm').submit();
	}
	
	function registerAccount() {
		$('#register_form').submit();
	}
</script>
	
}
