@(lineForm: Form[Line], accounts: List[Account], payBackStyles: List[PayBackStyle])

@import helper._

@main("Line Edit") {
	<h3>Line Edit</h3>
	@form(action=routes.LineApp.edit(), 'enctype -> "multipart/form-data") {
		@inputText(lineForm("id"), 'type->"hidden")
		<dl><dt>명의자</dt><dd>@lineForm.get.getPerson.getName</dd></dl>
		@inputText(lineForm("number1"))
		@inputText(lineForm("number2"))
		@inputText(lineForm("number3"))
		
		@inputText(lineForm("usim"))
		@inputDate(lineForm("joinDate"))
		@inputDate(lineForm("keepPaySystemDate"))
		@inputDate(lineForm("dutyPeriodDate"))
		@inputDate(lineForm("cancelDate"))
		<select name="payBackStyle">
			@for(payBackStyle <- payBackStyles) {
				<option value="@payBackStyle" @if(payBackStyle == lineForm.get.getPayBackStyle){selected}>@payBackStyle.getKrName</option>
			}
		</select>
		@inputDate(lineForm("keepInstallmentDate"))
		@inputDate(lineForm("payBackDate"))
		@inputText(lineForm("businessInfo.costOfMaintenace"))
		@inputText(lineForm("businessInfo.sellingPrice"))
		
		<select name="account.accountNumber">
			<option value="">없음</option>
			@if(lineForm.get.getAccount != null) {
				@for(account <- accounts) {
					<option value="@account.getAccountNumber" @if(account.getAccountNumber == lineForm.get.getAccount.getAccountNumber){selected}>@account.getAccountNumber : @account.getBank : @account.getName</option>
				}
			} else {
				@for(account <- accounts) {
					<option value="@account.getAccountNumber">@account.getAccountNumber : @account.getBank : @account.getName</option>
				}
			}
		</select>
		
		<input type="file" name="capture"/>
		<input type="submit"/>
	}
	
	<script type="text/javascript">
	</script>
	
	
}
