@(line: Line)

@import helper._

@main("Line Show") {
<div class="container theme-showcase" role="main">
	<div class="page-header">
    	<h1>회선조회</h1>
	</div>
	<div class="col-md-9">
		<dl class="dl-horizontal dl-pading">
			<dt>명의자</dt><dd>@line.getPerson.getName</dd>
			<dt>전화번호</dt><dd>@line.getNumber1-@line.getNumber2-@line.getNumber3</dd>
			<dt>유심번호</dt><dd>@line.getUsim</dd>
			<dt>가입일</dt><dd>@if(line.getJoinDate!=null){@line.getJoinDate.format("yyyy-MM-dd")}</dd>
			<dt>요금제변경가능일</dt>
			<dd>@if(line.getKeepPaySystemDate!=null){@line.getKeepPaySystemDate.format("yyyy-MM-dd")}</dd>
			<dt>해지가능일</dt>
			<dd>@if(line.getDutyPeriodDate!=null){@line.getDutyPeriodDate.format("yyyy-MM-dd")}</dd>
			<dt>해지일</dt>
			<dd>@if(line.getCancelDate!=null){@line.getCancelDate.format("yyyy-MM-dd")}</dd>
			<dt>PB 지급방식</dt>
			<dd>@line.getPayBackStyle.getKrName</dd>
			<dt>할부중도완납가능일</dt>
			<dd>@if(line.getKeepInstallmentDate!=null){@line.getKeepInstallmentDate.format("yyyy-MM-dd")}</dd>
			<dt>PB 입금예정일</dt>
			<dd>@if(line.getPayBackDate!=null){@line.getPayBackDate.format("yyyy-MM-dd")}</dd>
			<dt>할부금 완납여부</dt>
			<dd>@line.isPayInstallmentYn</dd>
			<dt>PB 확인여부</dt>
			<dd>@line.isCheckPaybackYn</dd>
			<dt>납부계좌</dt>
			<dd>
				@if(line.getAccount != null) {
					@line.getAccount.getAccountNumber : @line.getAccount.getBank : @line.getAccount.getName
				}
			</dd>
			<dt>판매금액</dt>
			<dd>@line.getBusinessInfo.getSellingPrice</dd>
			<dt>유지비</dt>
			<dd>@line.getBusinessInfo.getCostOfMaintenace</dd>
			<dt>조건캡쳐</dt>
			<dd>
				@if(line.getCaptureFile != null) {
					<img alt="" src="@routes.AttachedFileApp.download(line.getCaptureFile.getId)" width="20%" height="20%">
				}
			</dd>
		</dl>
		<a type="button" class="btn btn-default" href="@routes.LineApp.index()">목록</a>
		<a type="button" class="btn btn-primary" href="@routes.LineApp.editForm(line.getId)">수정</a>
		<a type="button" class="btn btn-danger" href="javascript:removeLine()">삭제</a>
		
	</div>
</div>
	
	
	
	
	@form(action=routes.LineApp.remove(), 'method->"post", 'id->"removeForm") {
		<input type="hidden" name="id" value="@line.getId">
	}
	
	<script type="text/javascript">
		function removeLine() {
			if(!confirm('회선을 삭제할까요?')) {
				return;
			}
			$('#removeForm').submit();
		}
	</script>
	
	
}
