@(line: Line)

@import helper._

@main("Line Show") {
<div class="container theme-showcase" role="main">
	<div class="page-header">
    	<h1>회선조회</h1>
	</div>
	<div class="col-md-9">
		<dl class="dl-horizontal dl-pading">
			<dt>명의자</dt><dd>@line.getPerson.getName</dd>
			<dt>전화번호</dt><dd>@line.getNumber1-@line.getNumber2-@line.getNumber3</dd>
			<dt>유심번호</dt><dd>@line.getUsim</dd>
			<dt>가입일</dt><dd>@if(line.getJoinDate!=null){@line.getJoinDate.format("yyyy-MM-dd")}</dd>
			<dt>요금제변경가능일</dt>
			<dd>@if(line.getKeepPaySystemDate!=null){@line.getKeepPaySystemDate.format("yyyy-MM-dd")}</dd>
			<dt>해지가능일</dt>
			<dd>@if(line.getDutyPeriodDate!=null){@line.getDutyPeriodDate.format("yyyy-MM-dd")}</dd>
			<dt>해지일</dt>
			<dd>@if(line.getCancelDate!=null){@line.getCancelDate.format("yyyy-MM-dd")}</dd>
			<dt>PB 지급방식</dt>
			<dd>@line.getPayBackStyle.getKrName</dd>
			<dt>할부중도완납가능일</dt>
			<dd>@if(line.getKeepInstallmentDate!=null){@line.getKeepInstallmentDate.format("yyyy-MM-dd")}</dd>
			<dt>PB 입금예정일</dt>
			<dd>@if(line.getPayBackDate!=null){@line.getPayBackDate.format("yyyy-MM-dd")}</dd>
			<dt>할부금 완납여부</dt>
			<dd>@line.isPayInstallmentYn</dd>
			<dt>PB 확인여부</dt>
			<dd>@line.isCheckPaybackYn</dd>
			<dt>납부계좌</dt>
			<dd>
				@if(line.getAccount != null) {
					@line.getAccount.getAccountNumber : @line.getAccount.getBank : @line.getAccount.getName
				}
			</dd>
			<dt>판매금액</dt>
			<dd>@line.getBusinessInfo.getSellingPrice</dd>
			<dt>유지비</dt>
			<dd>@line.getBusinessInfo.getCostOfMaintenace</dd>
			<dt>조건캡쳐</dt>
			<dd>
				@if(line.getCaptureFile != null) {
					<a href="@routes.AttachedFileApp.download(line.getCaptureFile.getId)">@line.getCaptureFile.getFileName</a>
					<button type="button" class="btn btn-xs btn-danger pop" data-src="@routes.AttachedFileApp.download(line.getCaptureFile.getId)">미리보기</button>
				}
			</dd>
		</dl>
		<a type="button" class="btn btn-default" href="@routes.LineApp.index()">목록</a>
		<a type="button" class="btn btn-primary" href="@routes.LineApp.editForm(line.getId)">수정</a>
		<a type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm">삭제</a>
		
	</div>
</div>
<div id="remove_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<h4>회선을 삭제하시겠습니까?</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
				<button type="button" class="btn btn-danger" onclick="removeLine()">삭제</button>
			</div>    
		</div>
	</div>
</div>	

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" data-dismiss="modal">
    <div class="modal-content"  >              
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width:100%">
      </div> 
      <!-- <div class="modal-footer">
          <div class="col-xs-12">
               <p class="text-left">1. line of description<br>2. line of description <br>3. line of description</p>
          </div>
      </div> -->
    </div>
  </div>
</div>
	
	@form(action=routes.LineApp.remove(), 'method->"post", 'id->"removeForm") {
		<input type="hidden" name="id" value="@line.getId">
	}
	
	<script type="text/javascript">
		function removeLine() {
			$('#removeForm').submit();
		}
		
		$(function() {
			$('.pop').on('click', function() {
				$('.imagepreview').attr('src', $(this).attr('data-src'));
				$('#imagemodal').modal('show');
			});		
	});
	</script>
	
	
}
