@(accounts: List[Account], accountForm: Form[Account])

@import helper._

@main("Account List") {
<div class="container theme-showcase" role="main">
	<div class="page-header">
        <h1>계좌관리</h1>
	</div>
	<div class="col-sm-8">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>계좌번호</th>
				<th>은행</th>
				<th>예금주</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
				@for(account <- accounts) {
					<tr>
						<td>@account.getAccountNumber</td>
						<td>@account.getBank</td>
						<td>@account.getName</td>
						<td><input class="btn btn-xs btn-danger" type="button" value="삭제" onclick="removeAccount('@account.getAccountNumber')"/></td>
					</tr>
				}
			</tbody>
		</table><br>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register_modal">등록</button>
	</div>
	<div id="register_modal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">계좌등록</h4>
				</div>
				<div class="modal-body">
					@form(action=routes.AccountApp.register(), 'method -> "post", 'id -> "register_form") {
						<div class="form-group">
							<label class="control-label">계좌번호</label>
							<input type="text" class="form-control" name="accountNumber">
						</div>
						<div class="form-group">
							<label class="control-label">은행명</label>
							<input type="text" class="form-control" name="bank">
						</div>
						<div class="form-group">
							<label class="control-label">예금주</label>
							<input type="text" class="form-control" name="name">
						</div>
					}
		        </div>
		        <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary" onclick="registerAccount()">등록</button>
				</div>
			</div>
		</div>
	</div>

	@form(action=routes.AccountApp.remove(), 'method -> "post", 'id -> "removeForm") {
		<input type="hidden" id="del_accountNumber" name="accountNumber"/>
	}
</div>	
<script type="text/javascript">
	function removeAccount(accountNumber) {
		if(!confirm(accountNumber + ' 계좌를 삭제할까요?')) {
			return;
		}
		$('#del_accountNumber').val(accountNumber);
		$('#removeForm').submit();
	}
	
	function registerAccount() {
		$('#register_form').submit();
	}
</script>
	
	
}
